
<footer
  class="site-footer flex flex-row-l flex-column-reverse items-center bg-light-gray"
  role="contentinfo"
>

<div class='w-60-l w-100 flex justify-between-ns flex-row-ns flex-column justify-center items-center items-start-ns'>
  <div class='tc tl-ns mb4 mb0-ns'>     
    <h3 class='f5 fw7 mb1'>{{ shop.name }}</h3>
    <p class="mb1 f6"> &copy; {{ 'now' | date: '%Y' }}</p>
    <p class="f6 mb1">{{ powered_by_link }}</p>
  </div>
  <div class='tc tl-ns mb4 mb0-ns'>
    <h3 class='f5 fw7 mb1'>HELP </h3>
    {% if linklists[section.settings.footer_link_list].links.size
    > 0 %}
    <ul class="list flex flex-column f6">
      {% for link in linklists[section.settings.footer_link_list].links %}
      <li class="">
        <a class="link hover-green" href="{{ link.url }}"><p class='mb1'>{{ link.title }}</p></a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class='tc tl-ns mb4 mb0-ns db-ns flex flex-column  justify-center items-center'>
    <h3 class='f5 fw7 mb1'>CONTACT US</h3>
    <a href="mailto:nodiploma.required@gmail.com"><p class="f6 mb1">nodiploma.required@gmail.com</p></a>
    <ul class="w-50 list flex flex-row justify-between items-center">
      {% if settings.social_twitter_link != blank %}
      <li>
        <a
          href="{{ settings.social_twitter_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}"
        >
          <span class="icon icon-twitter" aria-hidden="true"></span>
          <span class="visually-hidden">Twitter</span>
        </a>
      </li>
      {% endif %} {% if settings.social_facebook_link != blank %}
      <li>
        <a
          href="{{ settings.social_facebook_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}"
        >
          <span class="icon icon-facebook" aria-hidden="true"></span>
          <span class="visually-hidden">Facebook</span>
        </a>
      </li>
      {% endif %} {% if settings.social_soundcloud_link != blank %}
      <li>
        <a
          href="{{ settings.social_soundcloud_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Soundcloud' }}"
        >
          <span class="icon icon-soundcloud" aria-hidden="true"></span>
          <span class="visually-hidden">Soundcloud</span>
        </a>
      </li>
      {% endif %} {% if settings.social_google_plus_link != blank %}
      <li>
        <a
          href="{{ settings.social_google_plus_link | escape }}"
          rel="publisher"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}"
        >
          <span class="icon icon-google_plus" aria-hidden="true"></span>
          <span class="visually-hidden">Google Plus</span>
        </a>
      </li>
      {% endif %} {% if settings.social_instagram_link != blank %}
      <li>
        <a
          href="{{ settings.social_instagram_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}"
        >
          <span class="icon icon-instagram" aria-hidden="true"></span>
          <span class="visually-hidden">Instagram</span>
        </a>
      </li>
      {% endif %} {% if settings.social_snapchat_link != blank %}
      <li>
        <a
          href="{{ settings.social_snapchat_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}"
        >
          <span class="icon icon-snapchat" aria-hidden="true"></span>
          <span class="visually-hidden">Snapchat</span>
        </a>
      </li>
      {% endif %} {% if settings.social_tumblr_link != blank %}
      <li>
        <a
          href="{{ settings.social_tumblr_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}"
        >
          <span class="icon icon-tumblr" aria-hidden="true"></span>
          <span class="visually-hidden">Tumblr</span>
        </a>
      </li>
      {% endif %} {% if settings.social_youtube_link != blank %}
      <li>
        <a
          href="{{ settings.social_youtube_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}"
        >
          <span class="icon icon-youtube" aria-hidden="true"></span>
          <span class="visually-hidden">YouTube</span>
        </a>
      </li>
      {% endif %} {% if settings.social_Soundcloud_link != blank %}
      <li>
        <a
          href="{{ settings.social_soundcloud_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Soundcloud' }}"
        >
          <span class="icon icon-vimeo" aria-hidden="true"></span>
          <span class="visually-hidden">Soundcloud</span>
        </a>
      </li>
      {% endif %} {% if settings.social_fancy_link != blank %}
      <li>
        <a
          href="{{ settings.social_fancy_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}"
        >
          <span class="icon icon-fancy" aria-hidden="true"></span>
          <span class="visually-hidden">Fancy</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="w-40-l w-100 flex flex-row justify-end-l justify-center mb4 mb0-l">
  <img
    class="site-header__logo-image w-25-ns w-50"
    src="https://cdn.shopify.com/s/files/1/0447/2884/4439/files/logo_300x@2x.png?v=1643959711"
    
    alt="{{ shop.name }}"
    itemprop="logo"
  />
</div>

</footer>

{% schema %} { "name": "Footer", "class": "footer-section", "settings": [{
"type": "link_list", "id": "footer_link_list", "label": "Menu", "default":
"footer" }] } {% endschema %}
