<div class="index-section--flush powr-popup" id="016a7ed7_1535737760"></div>
<!-- /templates/index.liquid -->
<div class=""></div>

{% comment %} Define your section markup, using
`section.settings.[setting_name]` to access specific settings. * Sections do not
have access to global liquid variables. {% endcomment %}
<style>
  .homepage-button {
    border: 1px #e90000 solid;
    border-radius: 60px;
    color: #e90000;
    background: none;
    opacity: 1;
  }

  .homepage-button:hover {
    background: #e90000;
    color: white;
    opacity: 1;
  }
  .grow {
    transition: all 0.2s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
  }
  .homepage-link,
  .homepage-link:hover,
  a,
  a:hover {
    opacity: 1 !important;
  }

  @media screen and (max-width: 60em) {
    .homepage-button {
      border: none;
      color: white;
      background: #e90000;
      opacity: 1;
    }
  }
</style>
{% assign slider_enabled = true %} {% assign collection_count = 0 %}
<div>
  <section class="flex flex-row-l justify-around pa4 w-100 white" style="background: #00a652;">
  <article class='w-60-l w-100 flex flex-column justify-center'>
  <h2 class="f2 fw7 white">Thesis</h2>
  <h3 class="f4 fw4 white i">Knowledge of Self</h3>
    <p class="f4">
      lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Elit sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </p>
  </article>
  <article class="w-20-l dn flex-l flex-column-l justify-center items-center" style="margin-top: -1rem;">
    <img class="w-100"
        src="https://cdn.shopify.com/s/files/1/0447/2884/4439/files/unnamed.gif?v=1643968608" />
  </article>
  </section>
  {% for collection in collections %} {% unless collection.handle == 'frontpage'
  %} {% assign collection_count = collection_count | plus:1 %} {% endunless %}
  {% if forloop.index == 4 %}
    {% break %}
  {% endif %}
  
  {% if collection.image %}
  <div class="flex flex-column {% if forloop.index == 2 %} flex-row-reverse-ns {% else %} flex-row-ns {% endif %} justify-center items-center w-100">
    <div class="flex flex-column justify-center items-center w-50-ns w-100">
    <p
      style="
        margin-bottom: 1.5rem;
        
      "
      class="f2 black fw7 ma0"
    >
      {{ collection.title | upcase }}
    </p>
    <a
      href="/collections/{{ collection.handle }}"
      class="ttu pv2 ph5 f6 w6"
    >
      <p class="ma0 tc fw6 f6 tracked w-100 underline">SHOP COLLECTION</p>
    </a>
  </div>
  <div class="mb4 mb0-ns w-50-ns w-100">
    <a
      class=" homepage-link db w-100"
      href="/collections/{{ collection.handle }}"
    >
      <img
        class="w-100"
        src="{{ collection.image | img_url: 'master' }} "
      />
    </a>
  </div>
    
  </div>

  {% endif %} 

  {% else %}
  This collection is empty.
 
{% endfor %}

</div>
<div class="white">
  {{ content_for_index }}
</div>
{% comment %}
<div class="hero-wrapper">
  {% endcomment %} {% comment %}
  <div class="hero__site-header">
    <div class="grid grid--no-gutter grid--table site-header__inner">
      <div class="grid__item one-half">
        <button
          type="button"
          class="site-header__link text-link site-header__toggle-nav js-drawer-open-left"
        >
          <span class="icon icon-hamburger" aria-hidden="true"></span>
          <span class="icon__fallback-text">{{
            'layout.navigation.menu' | t
          }}</span>
        </button>
      </div>
      <div class="grid__item one-half text-right">
        <a
          href="/search"
          class="site-header__link site-header__search js-drawer-open-top"
        >
          <span class="icon icon-search" aria-hidden="true"></span>
          <span class="icon__fallback-text">{{
            'layout.navigation.search' | t
          }}</span>
        </a>
        <a
          href="/cart"
          class="site-header__link site-header__cart cart-link{% if settings.cart_type == 'drawer' %} js-drawer-open-right{% endif %}{% if cart.item_count > 0 %} cart-bubble--visible{% endif %}"
        >
          <span class="icon icon-cart" aria-hidden="true"></span>
          <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
        </a>
      </div>
    </div>
  </div>
  {% endcomment %} {% comment %} {% section 'slideshow' %}

  <div class="hero__header">
    <div class="action-area">
      {% include 'action-bar' %}
    </div>
  </div>
  {% endcomment %} {% comment %}
</div>
{% endcomment %}
